# Node
node_modules/
npm-debug.log*

# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
.venv/
env/
venv/
pip-log.txt

# System
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
*.log

# VSCode and JetBrains IDEs
.vscode/
.idea/

# Docker
*.log
*.pid
*.sock

# OS Specific
*.swp
*.swo
*.bak

# Pre-commit
.pre-commit-config.yaml
.pre-commit/
.mypy_cache/
.pytest_cache/
.coverage

# Other IDE/Tool folders
*.iml
*.sublime-project
*.sublime-workspace
